* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  overflow: hidden;
}

.walking-hero {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-image: url("./images/hero.png");
  animation: movement 0.8s steps(5) infinite, forward 10s linear infinite;
}

@keyframes movement {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes forward {
  0% {
    transform: translateX(-202px);
  }
  100% {
    transform: translateX(100vw);
  }
}
