* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightgrey;
  overflow: hidden;
}

.box {
  background-color: black;
  width: 100px;
  height: 100px;
  animation: slide 10s ease-in-out forwards;
}

@keyframes slide {
  20% {
    transform: translateX(300px);
  }
  40% {
    transform: translate(300px, 300px);
  }
  60% {
    transform: translate(-600px, 300px);
  }
  80% {
    transform: translateX(-600px);
  }
  100% {
    transform: translate(300px);
  }
}
